.container-input-color{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
}
.container-input-color label{
    color: black;
    font-weight: bold;
}
.container-input-color input{
    border:  none;
    padding: 16px;
    box-shadow: 2px 20px 33px -21px rgba(0,0,0,0.58);
    outline: 0;
    width: 100%;
    background-color: white;

}
.container-input-color input :focus{
    border: none;
    outline: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.452);
}